body {
  font-family: 'Roboto', sans-serif;
}

.navigationBar {
  height: 100vh;
}

.leftSideNavigation {
  background-color: #010D26;
  font-size: 1.2rem;
  color: #fff;
  height: 100vh;
}

form>* {
  margin-bottom: 1.3rem;
}

form {
  padding: 1.2rem;
}


.patientForm {
  border-radius: 9px;
  -webkit-box-shadow: 0px 0px 4px #0455BF;
  -moz-box-shadow: 0px 0px 4px #0455BF;
  box-shadow: 0px 0px 4px #0455BF;
  background-color: #DDDDDD;
  width: 70%;
  margin: auto;
}

.fillingForm {
  height: 100vh;
  background: rgb(0, 212, 255);
  background: radial-gradient(circle, rgba(0, 212, 255, 1) 0%, rgba(39, 106, 193, 1) 100%, rgba(2, 0, 36, 1) 100%);
}

li {
  margin-bottom: 1.25rem;
}

.border1 {
  border: 2px solid red;
}

.topNavbar {
  background-color: #0E2759;
  height: 8vh;
}

.searchInput {
  border-radius: 20px;
}



.cardTitle {
  font-family: 'Anton', sans-serif;
}



/* 
############### -----------------J O B   S I D N E Y ----------############# */
.WholeIntro {
  padding: 2rem 10rem;
  background-image: url('https://media.gettyimages.com/photos/closeup-of-young-woman-gazing-away-picture-id157443516?s=612x612');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(11, 11, 11, 0.3);
}

.logo>img {
  width: 100px;
  height: 100px;
}

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.navMenu {
  display: inherit;
}

.navMenu>li {
  color: white;
  margin: 0px 0rem 0px 1rem;
  padding: 1rem 2rem;
  list-style: none;
  text-align: center;
  height: fit-content;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1rem;
}

.active {
  background-color: #1344FE;
}

.navInfo>button {
  margin-left: 0.5rem;
  padding: 0.8rem 3rem;
  border-radius: 15rem;
  color: white;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid rgb(241, 241, 241);
}

.navInfo>button:hover {
  background-color: #1344FE;
  border: 1px solid transparent;
}

.motto {
  margin-top: 10rem;

}

.motto>h1 {
  font-weight: 700;
  line-height: 1.6;
  word-spacing: 15px;
  width: 40rem;
  color: white;
  opacity: 0.8;
}

.facts,
.about-grid,
.gallery,
.services {
  display: grid;
  color: white;
  margin-top: 8rem;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.appointment {
  padding: 2rem;
  background-color: #1344FE;
  height: 300px;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appoint-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appoint-btn>.btn {
  padding: 0.8rem 3rem;
  border-radius: 15rem;
  background-color: white;
  color: black;
  font-weight: 400;
  font-size: rem;
  height: fit-content;

}

.btn2 {
  padding: 0.5rem 5rem;
  border-radius: 15rem;
  background-color: #1344FE;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  height: fit-content;
  border: 1px solid transparent;
}

.btn2:hover {
  background-color: white;
  color: black;
  border: 2px solid #1344FE;
}

.appoint-btn>span {
  font-size: 2.8rem;
  font-family: Poppins;
}

.appoint-btn>.btn:hover {

  color: white;
  border: 1px solid white;
}

.facts>.two-col>p {
  display: flex;
  flex-direction: column;
  width: 19rem;
  font-size: 1.2rem;
}

.facts>.two-col>p:first-child {
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 2px solid white;
}

.about-grid {
  color: black;
  font-family: Poppins;
  height: 900px;
  padding: 1.5rem 0rem;
  ;
}

.about-grid>div>img {
  width: 35rem;
  border-radius: 5px;

}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  color: black;

}

.about h1,
.services h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: black;
}

.about-grid h3,
.gallery>h3,
.services h3 {
  font-weight: bolder;
  /* text-decoration: underline; */
  color: black;
}

.about p {
  font-size: 1.2rem;
  color: rgba(10, 10, 10, 0.6);
}

.about h5 {
  font-weight: bold;
}

.radious {
  border: 1px solid rgba(8, 8, 8, 0.2);
  padding: 1rem;
  font-size: 5rem;
  border-radius: 50%;
}

.about-grid>div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hashTag {
  padding: 0.5rem 3rem;
  border-radius: 15rem;
  background-color: white;
  color: rgb(25, 25, 25, 0.6);
  font-weight: 600;
  font-size: 1.1rem;
  height: fit-content;
  border: 1px solid rgba(12, 12, 12, 0.3);
  margin: 0.2rem 0.3rem;
}

.fa {
  padding: 10px;
  font-size: 50px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 1.2rem;
  border-radius: 50px 50px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-whatsapp {
  background: rgb(1, 148, 123);
  color: white;
}

.fa-telegram {
  background: rgb(57, 166, 220);
  color: white;
}

.gallery {
  border-top: 1px solid rgba(82, 81, 81, 0.2);
  padding-top: 6rem;
}

.grid-btn {
  margin-top: 1.7rem;
}


.image-grid>div>img {
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  object-fit: cover;
  border-radius: 5px;
}

.image-grid>div {
  display: flex;
  justify-content: center;
  align-items: center;

}

.image-grid {
  margin-top: 6rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
}

.image-grid .wide {
  grid-row: span 2;
}

.image-grid .tall {
  grid-column: span 2;
}

.image-grid .big {
  grid-row: span 2;
  grid-column: span 2;
}


/* JOB SIDNEY LOGIN FORMS */
.image2 {
  background-image: url("https://healthsciences.uonbi.ac.ke/sites/default/files/2021-10/hospital-ward.jpg");
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;

}

.overlay {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */

}

.heading {
  text-align: center;
  font-weight: bold;
  color: #ffff;
  font-size: 50px;


}

/* form>div {
  display: flex;
  flex-direction: row;
} */

.all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;
  height: 50%;
}

/* form {
  display: grid;
  gap: 2rem;
  width: 400px;
} */

label>.fa {
  font-size: 25px;

}

input {
  width: 100%;
  border-radius: 6px;
  padding: 1rem;
  font-weight: 500;
  font-size: larger;
  border: none;
}

input:focus {
  border: 4px solid #1344FE;
  background-color: #dee4f7;
}

#logIn {
  width: 100%;
  padding: 15px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: x-large;
  background-color: #1344FE;
  cursor: pointer;
  outline: none;
  text-align: center;

}

#password {
  text-align: center;
  color: #ffff;
  font-size: x-large;
  text-decoration: underline;

}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffff;
}

hr {
  width: 150px;
}

h3 {
  padding: 0 7px 0 7px;
}

#account {
  text-align: center;
  color: #ffff;
  font-size: 1.3rem;

}

#sign {
  color: white;
}

.horizontal h3 {
  font-size: 1.3rem;
}

.hor>hr {
  color: white;
}