body {
  font-family: 'Roboto', sans-serif;
}

.navigationBar {
  height: 100vh;
}

.leftSideNavigation {
  background-color: #010D26;
  font-size: 1.2rem;
  color: #fff;
  height: 100vh;
}

form>* {
  margin-bottom: 1.3rem;
}

form {
  padding: 1.2rem;
}


.patientForm {
  border-radius: 9px;
  -webkit-box-shadow: 0px 0px 4px #0455BF;
  -moz-box-shadow: 0px 0px 4px #0455BF;
  box-shadow: 0px 0px 4px #0455BF;
  background-color: #DDDDDD;
  width: 70%;
  margin: auto;
}

.fillingForm {
  height: 100vh;
  background: rgb(0, 212, 255);
  background: radial-gradient(circle, rgba(0, 212, 255, 1) 0%, rgba(39, 106, 193, 1) 100%, rgba(2, 0, 36, 1) 100%);
}

li {
  margin-bottom: 1.25rem;
}

.border1 {
  border: 2px solid red;
}

.topNavbar {
  background-color: #0E2759;
  height: 8vh;
}

.searchInput {
  border-radius: 20px;
}



.cardTitle {
  font-family: 'Anton', sans-serif;
}



