body{
  font-family: 'Roboto', sans-serif;
  
}
.navigationBar{
  height: 100vh;
}
.leftSideNavigation{
  background-color: #0E2759;
  font-size: 1.6rem;
  color: #fff;
}



/* 
############### -----------------J O B   S I D N E Y ----------############# */
.WholeIntro{
  padding: 2rem 10rem;
  background-image: url('https://media.gettyimages.com/photos/closeup-of-young-woman-gazing-away-picture-id157443516?s=612x612');
  background-repeat: no-repeat;
  height: 100vh;
  background-size:cover;
  background-blend-mode:darken;
  background-color: rgba(11, 11, 11,0.3);
}
.logo>img{
  width: 100px;
  height: 100px;
}
.Nav{
display: flex;
flex-direction: row;
justify-content: space-between;
  
}
.navMenu{
  display: inherit;
}
.navMenu>li{
  color: white;
  margin: 0px 0rem 0px 1rem;
  padding: 1rem 2rem; 
  list-style: none;
 text-align: center;
 height:fit-content;
 border-radius: 50px ;
 font-weight:700;
 font-size:1rem;
}
.active{
  background-color: #1344FE;
}
.navInfo>button{
  margin-left: 0.5rem;
  padding: 0.8rem 3rem;
  border-radius: 15rem;
  color: white;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid rgb(241, 241, 241) ;
}
.navInfo>button:hover{
  background-color: #1344FE;
  border: 1px solid transparent;
}
.motto{
  margin-top: 10rem;
  
}
.motto>h1{
  font-weight: 700;
  line-height: 1.6;
  word-spacing: 15px;
  width: 40rem;
  color: white;
  opacity: 0.8;
}
.facts{
  display: grid;
  color: white;
  margin-top: 8rem;
  grid-template-columns: auto auto auto;
}

.appointment{
  
  display: flex;
  flex-direction: column;
}